Source: unity-scope-vimeo
Section: x11
Priority: optional
Build-Depends: cmake (>= 2.8.10),
               debhelper (>= 9),
               dh-translations,
               g++-4.9,
               google-mock,
               intltool,
               libaccounts-glib-dev,
               libboost1.55-dev,
               libboost-filesystem-dev,
               libboost-system-dev,
               libglib2.0-dev,
               libjsoncpp-dev,
               libnet-cpp-dev (>= 1.1.0),
               libprocess-cpp-dev,
               libsignon-glib-dev,
               libunity-scopes-dev (>= 0.6.0),
               pkg-config,
               python-tornado,
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-scope-vimeo
Vcs-Bzr: lp:unity-scope-vimeo

Package: unity-scope-vimeo
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Vimeo scope for Unity
 This Vimeo scope allows you to search vimeo for videos and also browse
 your feed within the Unity Dash.
 .
 This package provides the vimeo scope.

